@model IEnumerable<RacingBattlegrounds.UI.Models.ViewModel.RaceDetailsViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>Race Name</p>
        </th>
        <th>
            <p>City</p>
        </th>
        <th>
            <p>Track Name</p>
        </th>
        <th>
            <p>Track Length</p>
        </th>
        <th>
            <p>Engine Capacity</p>
        </th>
        <th>
            <p>Winner Name</p>
        </th>
        <th>
            <p>Car Name</p>
        </th>
        <th>
            <p>Top Speed</p>
        </th>
        <th>
            <p>Completion Time</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineCapacity)
            </td>
            <td>
                @foreach (var name in item.Winners)
                {
                    <ul style="list-style-type:none;">
                        <li>@name.DriverName</li>
                    </ul>
                }
            </td>
            <td>
                @foreach (var name in item.Winners)
                {
                    <ul style="list-style-type:none;">
                        <li>@name.CarName</li>
                    </ul>
                }
            </td>
            <td>
                @foreach (var name in item.Winners)
                {
                    <ul style="list-style-type:none;">
                        <li>@name.TopSpeed</li>
                    </ul>
                }
            </td>
            <td>
                @foreach (var name in item.Winners)
                {
                    <ul style="list-style-type:none;">
                        <li>@name.CompletionTime</li>
                    </ul>
                }
            </td>
        </tr>
    }

</table>
